.map-container {
    margin: auto;
    width: 100vh;
    padding-top: 100vh;
    position: relative;
    .leaflet-container {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: white;

        .leaflet-control-back {
            height: 44px;
            width: 44px;
            background-color: white;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            border: 2px solid rgba(0,0,0,0.2);
            color: gray;
        }
    }
}